<p id="notice"><%= notice %></p>

<p>
  <strong>category:</strong>
  <% @article.category_articles.each do |category_article|%>
    <%= category_article.category.name %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<div class="container_comment">
  <% if user_signed_in? %>
    <div class="new_comment_field">
      ※コメントを入力してください
      <%= form_with(model: [@article, @new_comment]) do |f| %>
        <%= f.text_area :comment, class: "comment_input", placeholer: "コメントを入力してください" %>
        <%= f.submit "送信", class: "comment_send" %>
      <% end %>
    </div>
  <% end %>
  <div class="comments_field">
    <% if @comments.length > 0 %>
      コメント一覧
      <%= render @comments %>
    <% else %>
      <p class="no_comment_msg">※コメントは0件です</p>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
